body {
    background-color: #ebebec;
    position: relative;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

#knop {
    position: absolute;
    bottom: 80px;
    left: 110px;
    color: white;
    background-color: #03477f;
    width: 300px;
    height: 35px;
    font-size: 14px;
}

#zoeken {
    position: absolute;
    bottom: 240px;
    left: 110px;
    color: #4d4d4d;
    background-color: #ebebec;
    width: 300px;
    height: 35px;
    font-size: 14px;
}

nav {
    background-color: #3e3739;
    margin-left: -10px;
    margin-top: -8px;
    margin-bottom: -1px;
    width: 176%;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #1a1a1a;
    color: #009ddb;
}

li.active {
    background-color: #1a1a1a;
    color: #009ddb;
}

.img1 {
    height: 200%;
    width: 179%;
    margin-left: -20px;
}

.section2 {
    background-color: #03477f;
    padding-top: 20px;
    margin-top: -22px;
    width: 179%;
    margin-left: -20px;
}

#h21 {
    position: relative;
    color: white;
    left: 50px;
    bottom: 20px;
}

.genres {
    position: relative;
    bottom: 20px;
    left: 50px;
    color: #03477f;
    background-color: white;
    width: 300px;
    height: 35px;
    font-size: 14px;
}

.section3 {
    background-color: white;
    margin-top: 10px;
    width: 170%;
    height: 270px;
}

#h41 {
    position: relative;
    left: 270px;
    bottom: 200px;
    color: #03477f;
    font-size: 20px
}

.lol1 {
    position: relative;
    left: 270px;
    bottom: 200px;
    font-size: 15px
}

#star1 {
    position: relative;
    bottom: 130px;
    left: 43px;
}

#hearth1 {
    position: relative;
    bottom: 330px;
    left: 95px;
}

#knop2 {
    position: relative;
    bottom: 141px;
    left: 125px;
    color: white;
    background-color: #03477f;
    width: 200px;
    height: 35px;
    font-size: 14px;
}

.section4 {
    background-color: white;
    margin-top: 10px;
    width: 170%;
    height: 270px;
}

#h42 {
    position: relative;
    left: 270px;
    bottom: 200px;
    color: #03477f;
    font-size: 20px
}

.lol2 {
    position: relative;
    left: 270px;
    bottom: 200px;
    font-size: 15px
}

#star2 {
    position: relative;
    bottom: 130px;
    left: 43px;
}

#knop3 {
    position: relative;
    bottom: 141px;
    left: 125px;
    color: white;
    background-color: #03477f;
    width: 200px;
    height: 35px;
    font-size: 14px;
}

#hearth2 {
    position: relative;
    bottom: 330px;
    left: 95px;
}

.footer {
    position: relative;
    left: 165px;
    bottom: -20px;
    margin-bottom: 0;
}

#down {
    position: relative;
    left: 83px;
}

#rood1 {
    position: absolute;
    left: 380px;
    bottom: 90px
}

#rood2 {
    position: absolute;
    left: 300px;
    bottom: 665px
}

#rood3 {
    position: absolute;
    left: 458px;
    bottom: 385px
}

#rood4 {
    position: absolute;
    bottom: 104px;
    left: 458px;
}
